.hero-container {
    border: 2px solid green;
    background-color: $hero-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    svg {
        width: 25%;
    }
    .title-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        gap: 10px;
        margin-left: 10px;
        h2 {
            font-size: 1.8rem;
            text-transform: uppercase;
        }
        h6 {
            font-style: italic;
            font-weight: 500;
            font-size: 0.9rem;
            letter-spacing: 1px;
        }
    }
}